<!DOCTYPE html>
<!-- ▏▏▏▏▏▏▏▏▏▏▉▉▍▊▊▉▉▋▋▊▋▌▏▏▏▏▏▏▏▏▏▏▏▏▏▏ 
　　▏▏▏▏▏▏▏▏▏▉▋▌▉▊▊▉▍▊▊▉▉▊▊▉▉▏▏▏▏▏▏▏▏▏▏▏▏▏ 
　　▏▏▏▏▏▏▏▌▊▉▉▌▉▉▌▉▉▉▉▉▊▋▉▉▉▋▍▊▎▏▏▏▏▏▏▏▏▏ 
　　▏▏▏▏▏▏▏▊▉▊▉▉▌▉▉▉▉▉▉▉▉▉▉▉▉▎▋▌▊▊▋▏▏▏▏▏▏▏ 
　　▏▏▏▏▏▌▊▉▉▉▉▊▉▉▉▉▉▉▉▉▋▉▉▉▊▊▋▉▊▊▊▉▋▏▏▏▏▏ 
　　▏▏▏▏▍▊▉▉▉▉▉▉▉▉▉▉▊▉▉▋▉▉▉▉▊▉▉▊▋▉▉▉▉▌▏▏▏▏ 
　　▏▏▏▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▉▉▉▉▉▊▉▉▉▊▉▉▉▉▉▍▏▏▏ 
　　▏▏▏▏▊▉▉▉▉▉▉▉▉▉▊▉▊▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▌▏▎ 
　　▏▏▏▋▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▉▉▉▉▉▉▉▉▉▉▉▉▏▎▎ 
　　▏▏▏▊▉▉▉▉▉▉▉▉▉▉▉▊▉▉▉▉▊▋▌▋▉▉▉▉▉▉▉▉▉▉▉▉▉▋ 
　　▏▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▌▌▌▉▊▉▉▉▉▉▉▉▉▉▉▉▎ 
　　▏▎▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▌▍▍▌▊▉▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▏▋▊▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▊▌▍▌▌▌▋▉▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▍▍▍▍▌▌▊▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▌▌▍▍▍▍▍▍▋▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▍▍▍▍▍▍▍▌▋▉▉▉▉▉▉▉▉▉▉▎ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊▋▌▍▌▋▋▊▉▉▋▋▉▉▉▉▉▉▉▉▉▉▉ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▊▊▊▊▋▋▍▌▋▋▊▊▉▉▊▉▉▉▉▉▉▉▉▉▉▋ 
　　▏▊▉▉▉▉▉▉▉▉▉▉▊▊▋▊▊▋▍▌▋▋▋▌▌▊▊▊▉▉▉▉▉▉▉▉▉▎ 
　　▏▉▉▉▉▉▉▉▉▉▊▊▋▋▊▋▊▊▍▌▋▋▌▍▍▍▋▋▉▉▉▉▉▉▉▉▉▏ 
　　▏▉▉▉▉▉▉▉▉▉▉▉▉▉▉▋▊▋▍▌▌▌▌▊▋▌▍▋▋▉▉▉▉▉▉▉▉▌ 
　　▏▉▉▉▉▉▉▉▊▊▊▊▋▋▊▋▋▍▍▍▌▊▊▌▉▉▉▌▋▊▉▉▉▉▉▉▉▋ 
　　▏▊▉▉▉▉▋▌▌▋▋▋▊▊▋▋▌▍▍▍▌▊▋▌▍▍▌▉▋▊▉▉▉▉▉▉▉▌ 
　　▏▊▉▉▉▍▌▍▍▍▍▍▌▌▋▋▌▍▍▍▍▍▍▋▋▋▍▍▍▋▉▉▉▉▉▉▉▋ 
　　▏▉▉▉▉▍▍▍▍▍▍▍▍▌▋▌▍▍▍▍▌▍▍▍▍▍▍▍▌▌▋▉▉▉▉▉▋▌ 
　　▏▉▉▉▉▍▍▍▍▍▍▍▌▌▌▋▍▍▍▍▍▍▍▍▍▍▍▍▍▍▌▉▉▉▉▉▋▍ 
　　▏▏▉▉▉▍▍▍▍▍▍▌▋▋▍▍▍▍▍▍▍▍▍▍▍▍▍▍▍▍▌▉▉▉▉▉▍▋ 
　　▏▏▌▉▉▌▍▌▌▍▌▋▌▋▌▌▌▍▍▍▍▍▋▍▍▍▍▍▍▍▌▉▉▉▉▉▍▌ 
　　▏▏▏▊▉▋▍▌▋▌▋▌▍▌▊▉▋▋▌▌▌▌▍▊▌▍▍▍▍▍▍▉▉▉▉▉▌▌ 
　　▏▏▏▌▉▎▌▌▋▌▋▌▌▍▍▊▉▊▉▊▊▍▍▍▊▍▍▍▍▌▌▉▉▉▉▉▌▋ 
　　▏▏▏▎▉▎▌▊▋▋▋▌▍▍▍▍▌▋▌▍▍▍▌▍▌▌▍▌▌▌▋▉▉▉▉▊▋▌ 
　　▏▏▏▉▉▉▋▋▌▌▋▊▊▊▊▊▌▍▍▌▍▍▍▌▋▋▌▌▌▋▉▉▉▉▋▉▌▍ 
　　▏▏▎▉▉▉▎▌▌▍▌▉▊▊▊▉▊▊▊▊▊▊▋▋▌▌▌▋▌▌▉▉▉▉▌▌▍▎ 
　　▏▏▏▉▉▉▊▋▌▍▍▉▎▏▎▍▎▎▍▎▏▍▋▊▌▍▌▌▋▌▉▉▉▌▍▎▎▏ 
　　▏▏▏▉▉▉▉▋▌▍▌▍▉▉▉▋▍▎▍▏▏▍▊▌▍▍▋▌▋▉▉▉▉▌▍▎▎▏ 
　　▏▏▍▉▉▉▉▋▋▍▍▍▉▉▉▉▉▉▉▉▉▉▊▌▍▌▌▌▌▉▉▉▉▊▎▏▏▍ 
　　▏▌▉▉▉▋▉▌▋▍▍▍▌▌▎▏▎▎▍▍▊▍▍▍▌▌▌▋▉▉▉▉▉▉▏▏▏▌ 
　　▏▍▉▉▉▊▉▉▋▍▍▍▍▌▍▍▌▌▊▋▋▍▍▍▌▌▋▋▉▉▉▉▉▉▏▏▏▎ 
　　▏▌▊▉▉▊▉▉▋▌▍▍▌▌▋▌▌▌▌▌▍▍▍▍▌▌▋▊▉▉▉▉▉▉▏▏▏▏ 
　　▎▋▊▉▉▉▉▉▊▌▍▍▌▋▋▌▌▌▌▌▍▍▍▌▌▌▋▉▉▉▉▉▉▉▋▏▎▏ 
　　▍▊▉▉▉▉▋▉▉▌▍▍▍▍▍▍▍▍▍▍▍▍▍▋▌▋▉▉▉▉▉▉▉▉▉▏▏▏ 
　　▌▉▉▉▉▉▉▍▉▊▋▍▍▍▍▍▍▍▍▍▍▍▍▌▋▊▊▉▉▉▉▉▉▉▉▊▎▏ 
　　▋▉▉▉▉▉▉▉▊▉▋▌▍▍▍▍▍▍▍▍▍▍▋▋▊▉▉▉▉▉▉▉▉▉▉▊▏▏ 
　　▊▉▉▉▉▉▋▉▊▉▊▊▌▌▌▍▍▍▌▌▌▋▋▊▊▊▉▉▉▉▉▉▉▉▉▉▉▏ 
　　▋▉▉▉▉▎▉▉▊▊▊▊▊▋▌▌▌▌▌▌▊▊▉▊▊▉▉▉▉▉▉▉▉▉▉▉▉▉ 
　　▋▉▉▉▏▉▉▉▊▊▊▊▉▊▉▉▊▊▊▉▊▊▊▊▉▉▉▉▉▉▉▉▉▉▉▉▊▋ 
　　▋▉▉▉▋▉▉▉▊▊▊▊▊▉▊▉▊▉▉▊▊▊▊▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉ 
　　▋▉▉▉▉▉▉▉▉▊▊▊▉▊▉▉▊▊▊▊▊▊▊▉▉▉▉▉▉▉▉▉▉▉▉▉▉▊  -->
<html class="chrome"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="apple-mobile-web-app-title" content="Web App名称" />
<link rel="apple-touch-icon" href="/static/favicon.ico" />
<link rel="apple-touch-icon-precomposed" href="/static/favicon.ico" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="shortcut icon" href="/static/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>玄差版 | 这是你的期末成绩</title>
     <style  type="text/css">
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/static/2f.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@font-face {
            font-family: 'themify';
            src: url('/static/themify.eot?-fvbane');
            src: url('/static/themify.eot?#iefix-fvbane') format('embedded-opentype'), url('/static/themify.woff?-fvbane') format('woff'), url('/static/themify.ttf?-fvbane') format('truetype'), url('/static/loli-h/themify.svg?-fvbane#themify') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <!-- Bootstrap Core Css -->
    <link href="/static/bootstrap.css" rel="stylesheet">
    <!-- JQuery DataTable Css -->
    <link href="/static/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/toastr.min.css">
    <link href="/static/style.css" rel="stylesheet">
    

  

</head>


<body class="theme-red">
    <section class="">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                本学期期末考试成绩
                                <small>你可以点击相应的按钮将成绩表格导出为相应的 <code>csv, excel, pdf</code>格式。支持排序。Search处填入关键字可以查找。成绩多的话可能有好几页，记得翻页哦。
                                尽管表格列数太多，导致在手机屏幕上显示得不太和谐，但我还是推荐你在手机上看。</small>
                            </h2>
                            
                        </div>
                        <div class="body">
                            <div class="progress">
                                <div class="progress-bar bg-teal progress-bar-striped active" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: {{bfs}}%">出成绩进度 {{cs}}/{{zs}}</div>
                            </div>
                        </div>
                        <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                     

                      
                    </div>
                </div>
                  <div class="body">

                           
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                                <thead>
                                    <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">课程名</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 20px;">学分</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 20px;">成绩</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">名次</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">课程最高分</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">课程最低分</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">课程平均分</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">课程号</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">课序号</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">英文课程名</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">课程属性</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">未通过原因</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                    <th rowspan="1" colspan="1">课程名</th>
                                    <th rowspan="1" colspan="1">学分</th>
                                    <th rowspan="1" colspan="1">成绩</th>
                                    <th rowspan="1" colspan="1">名次</th>
                                    <th rowspan="1" colspan="1">课程最高分</th>
                                    <th rowspan="1" colspan="1">课程最低分</th>
                                    <th rowspan="1" colspan="1">课程平均分</th>
                                    <th rowspan="1" colspan="1">课程号</th>
                                    <th rowspan="1" colspan="1">课序号</th>
                                    <th rowspan="1" colspan="1">英文课程名</th>
                                    <th rowspan="1" colspan="1">课程属性</th>
                                    <th rowspan="1" colspan="1">未通过原因</th>
                                    </tr>
                                </tfoot>
                                <tbody><!-- info danger warning-->
                                {% for cjitem in cjs %}
                                <tr role="row" class="{{ cjitem[12] }}">
                                        <td class="sorting_1">{{ cjitem[2] }}</td>
                                        <td>{{ cjitem[4] }}</td>
                                        <td>{{ cjitem[9] }}</td>
                                        <td>{{ cjitem[10] }}</td>
                                        <td>{{ cjitem[6] }}</td>
                                        <td>{{ cjitem[7] }}</td>
                                        <td>{{ cjitem[8] }}</td>
                                        <td>{{ cjitem[0] }}</td>
                                        <td>{{ cjitem[1] }}</td>
                                        <td>{{ cjitem[3] }}</td>
                                        <td>{{ cjitem[5] }}</td>
                                        <td>{{ cjitem[11] }}</td>
                                    </tr>
                                {% endfor %}
                               </tbody>
                            </table>
                            </div>
                        </div>
            </div>

                    </div>

                </div>

    </section>
    <script src="/static/jquery.min.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="/static/jquery.dataTables.js"></script>
    <script src="/static/dataTables.bootstrap.js"></script>
    <script src="/static/dataTables.buttons.min.js"></script>

    <script src="/static/jszip.min.js"></script>
    <script src="/static/pdfmake.min.js"></script>
    <script src="/static/vfs_fonts.js"></script>
    <script src="/static/buttons.html5.min.js"></script>
    <script src="/static/buttons.print.min.js"></script>
    <!-- Custom Js -->
    <script src="/static/jquery-datatable.js"></script>
     <script type="text/javascript" src="/static/toastr.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-bottom-center",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                },
                toastr.success("拉取到成绩", "成功");
                toastr.warning("请不要刷新本页面", "提醒");
        });
    </script>

</body></html>